* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1040px;
  overflow-x: hidden;
}

#banner {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 52, 52);
  height: 800px;
}

.text {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.imagem {
  display: flex;
  justify-content: center;
}

img {
  width: 90%;
  align-items: center;
  border-radius: 5px;
  border: 2px solid white;
}

/* Biografy */

.biografy {
  display: flex;
  justify-content: center;
}

.texts {
  display: flex;
  align-items: center;
  margin: 60px 10px;
}

.image_aside img,
 .image_aside2 img {
  width: 300px;
}

.biografia_text h1, .inicio_no_box h1 {
  font-size: 50px;
}

.biografia_text p, .inicio_no_box p  {
  font-size: 22px;
}

.image_aside2 img{
  margin-right: 40px;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgb(52, 52, 52);
  height: 200px;
  align-items: center;
}

footer h1 {
  text-align: center;
  color: white;
  font-size: 40px
}

@media (max-width: 600px) and (min-width: 319px) {

  #banner {
    height: 500px;
  }

  .text h1 {
    font-size: 40px;
  }

  img {
    width: 100%;
  }

  /* biografy */

  .texts {
    flex-direction: column;
    margin: 60px 10px;
  }

  .image_aside2 img {
    display: none;
  }

  .biografia_text h1, .inicio_no_box h1 {
    font-size: 18px;
  }

  .biografia_text p, .inicio_no_box p {
    font-size: 100%;
  }

  .image_aside img{
    margin-top: 50px;
    width: 100%;
  }

  /* footer */

  footer{
    height: 100px;
    margin: 0;
  }

  footer h1 {
    font-size: 100%;
  }

}

@media (max-width: 320px) {

  #banner {
    height: 400px;
  }

  .text h1 {
    font-size: 40px;
  }

  img {
    width: 100%;
  }

  /* biografy */

  .texts {
    flex-direction: column;
    margin: 60px 10px;
  }

  .image_aside2 img {
    display: none;
  }

  .biografia_text h1, .inicio_no_box h1 {
    font-size: 18px;
  }

  .biografia_text p, .inicio_no_box p {
    font-size: 100%;
  }

  .image_aside img{
    margin-top: 50px;
    width: 100%;
  }

  /* footer */

  footer{
    height: 100px;
    margin: 0;
  }

  footer h1 {
    font-size: 100%;
  }

}